h1{
    text-shadow: 2px 2px 2px black;
}
h1{
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  img {
    border: 30px solid red;
    border-radius: 35%;
    
    }

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    text-align: center;
}
  