body{
    background-color: darkgreen;
}
.menu{
    position: fixed;
    background-color: darkred;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    color: goldenrod;
    font-size: 17px;
}
.linkpi{
    display: inline-block;
    margin-right: 30px;
    color: beige;
}
.linkcar{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
a{
    color: beige;
}
.linkpro{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.linkres{
    display: inline-block;
    margin-left: 30px;
    margin-right: 40px;
}
.a{
    margin: auto;
    width: 800px;
    margin-top: 10px;
    text-align: center;
}
.titulocar{
    font-size: 70px;
    color: goldenrod;
    text-align: center;
    margin-top: 50px;
}
.tabelac1{
    width: 75%;
    align-items: center;
}
.tituloc1{
    font-size: 100px;
    text-align:left;
    color: beige;
}
.p1{
    border-radius: 3%;
    border: 5px solid goldenrod;
}
.desc1{
    font-size: 50px;
    width: 500px;
    text-align: justify;
    color: beige;
}
.leiamaisc1{
    text-align: center;
    font-size: 30px;
}
.linkc1{
    color: goldenrod;
}
hr{
    width: 65%;        
    margin: 20px auto;
    align-items: center;
}
.tabelac2{
    width: 75%;
    align-items: center;
}
.tituloc2{
    font-size: 100px;
    text-align:left;
    color: beige;
}
.p2{
    border-radius: 3%;
    border: 5px solid goldenrod;
}
.desc2{
    font-size: 50px;
    width: 500px;
    text-align: justify;
    color: beige;
}
.leiamaisc2{
    text-align: center;
    font-size: 30px;
}
.linkc2{
    color: goldenrod;
}
.tabelac3{
    width: 75%;
    align-items: center;
}
.tituloc3{
    font-size: 100px;
    text-align:left;
    color: beige;
}
.p3{
    border-radius: 3%;
    border: 5px solid goldenrod;
}
.desc3{
    font-size: 50px;
    width: 500px;
    text-align: justify;
    color: beige;
}
.leiamaisc3{
    text-align: center;
    font-size: 30px;
}
.linkc3{
    color: goldenrod;
}
.tabelac4{
    width: 75%;
    align-items: center;
}
.tituloc4{
    font-size: 100px;
    text-align:left;
    color: beige;
}
.p4{
    border-radius: 3%;
    border: 5px solid goldenrod;
}
.desc4{
    font-size: 50px;
    width: 500px;
    text-align: justify;
    color: beige;
}
.leiamaisc4{
    text-align: center;
    font-size: 30px;
}
.linkc4{
    color: goldenrod;
}
.tabelac5{
    width: 75%;
    align-items: center;
}
.tituloc5{
    font-size: 100px;
    text-align:left;
    color: beige;
}
.p5{
    border-radius: 3%;
    border: 5px solid goldenrod;
}
.desc5{
    font-size: 50px;
    width: 500px;
    text-align: justify;
    color: beige;
}
.leiamaisc5{
    text-align: center;
    font-size: 30px;
}
.linkc5{
    color: goldenrod;
}
.tabelac6{
    width: 75%;
    align-items: center;
}
.tituloc6{
    font-size: 100px;
    text-align:left;
    color: beige;
}
.p6{
    border-radius: 3%;
    border: 5px solid goldenrod;
}
.desc6{
    font-size: 50px;
    width: 500px;
    text-align: justify;
    color: beige;
}
.leiamaisc6{
    text-align: center;
    font-size: 30px;
}
.linkc6{
    color: goldenrod;
}