body{
    background-color: darkgreen;
}
.menu{
    position: fixed;
    background-color: darkred;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    color: goldenrod;
    font-size: 17px;
}
.linkpi{
    display: inline-block;
    margin-right: 30px;
    color: beige;
}
.linkcar{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
a{
    color: beige;
}
.linkpro{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.linkres{
    display: inline-block;
    margin-left: 30px;
    margin-right: 40px;
}
.a{
    margin: auto;
    width: 800px;
    margin-top: 10px;
    text-align: center;
}
.divimagem{
    width: 950px;
    height: auto;
    border-radius: 3%;
}
h1{
    font-size: 50px;
    color: goldenrod;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
h2{
    text-align: center;
    margin-top: 0;
    color: white;
    font-style: italic;
}
.divtexto{
    margin: 0 auto;
    width: 600px;
    background-color: darkred;
    border: 2px solid goldenrod;
}
p{
    font-size: 21px;
    color: beige;
    font-weight: 200;
    text-align: center;
}