body{
    margin: 0;
}
div{

}
.box{
    display: inline-block;
    background-color: magenta;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 10px 30px;
    margin: 10px 50px;
    text-align: center;
    align-content: center;

}
.box2{
    display: inline-block;
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px 50px;
    text-align: center;
    align-content: center;

}
.div-centralizada{
    margin: 0 auto;
    width: 300px;
}
.conteudo1{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}
.conteudo2{
    width: 100px;
    margin: 0 auto;
    display: inline-block;
}