body{
    margin-left: 0;
    margin-right: 0;
}

.titulo{
    text-align: center;
    color: white;

}
.divtitulo{
    background-color: darkred;
    height: 70px;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
.linkportal{
    color: darkred;
}
.tituloney{
    font-size: 45px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    color: darkred;
}
.fotoney1{
    width: 100px;
    height: 100px;
}
.neymarfoto{
    display: block;       
    margin: 0 auto;     
    width: 700px;         
    height: auto;         
}
.tn{
    font-size: 25px;
    text-align: center;
    margin-left: 11%;
    margin-right: 11%;
    text-align: justify;
}