.divmenu{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}
.div1{
    height: 2000px;
    background-color: aqua;
    width: 50%;
}
.div2{
    height: 2000px;
    background-color: aquamarine;
    width: 50%;
}.div3{
    height: 2000px;
    background-color: lawngreen;
    width: 50%;
}.div4{
    height: 2000px;
    background-color: blueviolet;
    width: 50%;
}